<h2><%= customers.fullname %></h2>
<p class="pbox"><%= image_tag(customers.image, size: '160x160', alt: customers.fullname) %>
<p class="pbox"><label>Phone:</label><%= customers.phonenumber %></p>
<p class="pbox"><label>Email:</label><%= customers.email %></p>
<p class="pbox"><label>Notes:</label><%= customers.notes %></p>
